<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628210868600-sn7oqaui0pd1qoq3cpieo9uhc18o9au4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628210868600-sn7oqaui0pd1qoq3cpieo9uhc18o9au4</string>
	<key>API_KEY</key>
	<string>AIzaSyDoHwhWxuI3-4z42G0RyarHchfmOVVyMcM</string>
	<key>GCM_SENDER_ID</key>
	<string>628210868600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kellough.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-c8ebf</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-c8ebf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628210868600:ios:bd088e1001bf35e44f288d</string>
</dict>
</plist>